{% extends 'base.html' %}
{% load static %}

{% block title %}Access Denied - Analytical Method Validation MVP{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="text-danger">403 - Access Denied</h1>
                    <p class="lead">You do not have permission to access this resource.</p>
                    <p>Please contact your administrator if you believe this is an error.</p>
                    <a href="/" class="btn btn-primary">Return to Dashboard</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
